<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login / Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>

<body id="wrapper">
    <h1>Welcome!</h1>
    <br>
    <section style="float: left; width: 50%;">
        <h2>Register</h2>
        <form action="/register" method="POST">
            {% csrf_token %}
            <p><label for="first_name">First name: <input type="text" name="first_name"></label></p>
            <p><label for="last_name">Last name: <input type="text" name="last_name"></label></p>
            <p><label for="alias">Alias: <input type="text" name="alias"></label></p>
            <p><label for="email">Email: <input type="email" name="email"></label></p>
            <p><label for="password">Password: <input type="password" name="password"></label></p>
            <p style="text-indent: 3%;">
                <li>Password should be at least 8 characters.</li>
            </p>
            <p><label for="password_confirm">Confirm Password: <input type="password" name="password_confirm"></label>
            </p>
            <p><button type="submit">Register</button></p>
        </form>
    </section>
    <section style="float: left;">
        <h2>Login</h2>
        <form action="/login" method="POST">
            {% csrf_token %}
            <p><label for="email">Email: <input type="email" name="email"></label></p>
            <p><label for="password">Password: <input type="password" name="password"></label></p>
            <p><button type="submit">Login</button></p>
        </form>
    </section>
    <div style="clear:both"></div>
    {% if messages %}
    <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
</body>

</html>